/* src/components/PlaceOrder/PlaceOrder.module.css */

.card {
    background-color: var(--color-bg-light);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    height: 100%;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    gap: 20px;
    color: var(--color-text-secondary);
}

.icon {
    font-size: 48px;
}