/* src/components/TransactionTable/TransactionTable.module.css */

.card {
    background-color: var(--color-bg-light);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    /* Removes space between borders */
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-border);
}

.table th {
    color: var(--color-text-secondary);
    font-size: 14px;
    font-weight: 500;
}

.table td {
    font-size: 16px;
}


/* Styles for the BUY/SELL tags */

.statusTag {
    padding: 4px 10px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
}

.buy {
    background-color: rgba(16, 185, 129, 0.1);
    color: var(--color-green);
}

.sell {
    background-color: rgba(239, 68, 68, 0.1);
    color: var(--color-red);
}