/* src/components/AssetAllocation/AssetAllocation.module.css */

.card {
    background-color: var(--color-bg-light);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    height: 100%;
    /* Make it fill the grid space */
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
}

.symbol {
    font-weight: 600;
}

.percentage {
    color: var(--color-text-secondary);
}

.progressBar {
    width: 100%;
    background-color: var(--color-border);
    border-radius: 100px;
    height: 8px;
}

.progress {
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 100px;
}